%h2
  Отзывы и рекомендации
%ul.gallery
  %li.gallery-item
    = image_tag "item.jpg"
    %span.gallery-company
      Роснано
    %span.gallery-description
      комент
  %li.gallery-item
    = image_tag "item.jpg"
    %span.gallery-company
      Роснано
    %span.gallery-description
      комент
  %li.gallery-item
    = image_tag "item.jpg"
    %span.gallery-company
      Роснано
    %span.gallery-description
      комент
  %li.gallery-item
    = image_tag "item.jpg"
    %span.gallery-company
      Роснано
    %span.gallery-description
      комент
  %li.gallery-item
    = image_tag "item.jpg"
    %span.gallery-company
      Роснано
    %span.gallery-description
      комент
