%h2
  Отзывы и рекомендации
%ul.gallery
  %li.gallery-item
    = image_tag "item.jpg", :class => "gallery-img"
    %h3
      Роснано
    %span
      комент
  %li.gallery-item
    = image_tag "item.jpg", :class => "gallery-img"
    %h3
      Роснано
    %span
      комент
  %li.gallery-item
    = image_tag "item.jpg", :class => "gallery-img"
    %h3
      Роснано
    %span
      комент
  %li.gallery-item
    = image_tag "item.jpg", :class => "gallery-img"
    %h3
      Роснано
    %span
      комент
  %li.gallery-item
    = image_tag "item.jpg", :class => "gallery-img"
    %h3
      Роснано
    %span
      комент
.show-more
  Показать еще
