%h2
  Отзывы и рекомендации
%ul.gallery
  - @reviews.each do |r|
    %li
      = link_to r.image.url(:full).to_eu, :class => "gallery-item", :rel => "rr" do
        = image_tag r.image.url(:thumb).to_eu, :class => "gallery-img"
        %h3
          = r.title
        %span
          = r.comment
- if @has_more
  = link_to "Показать еще", reviews_path(:page => params[:page].to_i + 1), :class => 'show-more'

:javascript
  $('a.gallery-item').colorbox({rel:'gal'});