.header
  =link_to root_path, :class => "header_logo" do
    =image_tag "logo.jpg", :class => "logo-image", :width => "290", :height => "75"
  .header-phone
    %ul
      %li
        Телефон:
        %span
          8 (812) 448-53-77
      %li
        = link_to "Заказать обратный звонок", "#", :class => "popup-link"
  .header-adress
    %ul
      %li
        Санкт-Петербург, Итальянская ул. д. 2
      %li
        офис 505
        = link_to "На карте", show_page_path("contacts")
.nav
  %ul
    - @top_menu.each do |m|
      %li
        = link_to show_page_path(m.plug), :class => m.child_pages.empty? ? "" : "has-submenu" do
          = m.title
        .menu
          %ul
            - m.child_pages.each do |c|
              %li
                = link_to show_page_path(c.plug) do
                  = c.title

:javascript
  $('.menu').hide()
  $(function() {
    $(".nav li").on('mouseover', function(i){
      p = $(i.target).closest('li').find('.menu').show()
      p.css($(i.target).closest('li').offset())
      p.css('min-width', $(i.target).closest('li').width())
      p.css('margin-top', 37)
    })
    $(".nav li").on('mouseout', function(event){
        var e = event.toElement || event.relatedTarget;
        if ($(e).closest('.nav>ul>li')[0] == $(event.target).closest('.nav>ul>li')[0]) {
           return;
        }
      $('.menu ').hide()
    })
  });


